* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

img {
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p {
    margin: 0;
}

.wrapper {
    min-height: 100%;
}

.header {
    background-color: chocolate;
    padding: 16px 0px 4px;
    border-bottom: 2px solid #FFFFFF;
}

.container {
    max-width: 1130px;
    padding: 0px 5px;
    margin: 0 auto;
}

.header__container {
    display: flex;
    max-width: 1370px;
    column-gap: 30px;
    justify-content: space-between;
    align-items: center;
}
 
.logo {
    max-width: 187px;
    min-width: 81px;
}

.logo__img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.nav {
}

.nav__list {
    display: flex;
    column-gap: 34px;
}

.nav__item {
}

.nav__link {
    color: #FFFFFF;
}

.header__contacts {
    color: #FFFFFF;
    display: flex;
    column-gap: 52px;
}

.location {
}

.location::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    background: url(../img/icons/location.svg) no-repeat center/contain ;
}

.phone {
    color: #FFFFFF;
}

.main {
}

.hero {
    background-color: crimson;
}

.hero__main {
}

.title {
}

.hero__subtitle {
}

.hero__btns {
}

.btn {
}

.hero__call-to-action {
}

.advantages {
}

.advantage {
}

.hero__advantage {
}

.advantage_theme_transparent {
}

.advantage__img {
}

.advantage__desc {
}
